<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
  <%= csrf_meta_tags %>
  <%= metamagic site: 'Jaimerson Araújo',
    title: [:title, :site],
    description: 'Software development tips, tutorials and experience sharing.',
    keywords: [:keywords, 'software', 'development', 'code', 'programming', 'engineering', 'writing',
                'desenvolvimento', 'programação', 'código'],
    og: {
      site_name: :site,
      image: image_url('jaimerson.jpg'),
      url: request.original_url
    }
  %>
</head>
<body>
  <header class="header">
    <nav>
      <ul class="header__links">
        <% %w(home about).each do |page| %>
          <li class="header__links__link">
            <%= link_to page.titleize, page_path(page) %>
          </li>
        <% end %>
      </ul>
    </nav>
  </header>
  <article class="content">
    <%= yield %>
  </article>
</body>
</html>
